<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <link href="@Assets["_content/FSH.Framework.Blazor.UI/css/fsh-theme.css"]" rel="stylesheet" />
    <link href="@Assets["_content/FSH.Framework.Blazor.UI/FSH.Framework.Blazor.UI.styles.css"]" rel="stylesheet" />
    <link href="@Assets["FSH.Playground.Blazor.styles.css"]" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
    <script src="@Assets["fsh-theme.js"]"></script>
</body>

</html>
