<MudDrawer Anchor="Anchor.Right" @bind-Open="ThemeDrawerOpen" outlined Variant="@DrawerVariant.Temporary"
    Width="350px" Height="100vh">
    <MudDrawerHeader Class="align-center">
        <MudText Typo="Typo.h6">
            Theme Manager
        </MudText>
        <MudSpacer />
        <MudIconButton Color="Color.Default" Icon="@Icons.Material.Filled.Close"
            OnClick="@(() => ThemeDrawerOpenChanged.InvokeAsync(false))" Size="Size.Small" />
    </MudDrawerHeader>
    <MudDivider Style="margin-bottom:10px!important" />
    <div style="padding:20px!important">
        <MudExpansionPanels Outlined>
            <DarkModePanel OnIconClicked="ToggleDarkLightMode" />
            <ColorPanel OnColorClicked="UpdateThemePrimaryColor" Colors="_colors" ColorType="Primary Color"
                CurrentColor="Color.Primary" />
            <ColorPanel OnColorClicked="UpdateThemeSecondaryColor" Colors="_colors" ColorType="Secondary Color"
                CurrentColor="Color.Secondary" />
            <RadiusPanel Radius="ThemePreference==null ? 0 : ThemePreference.BorderRadius"
                OnSliderChanged="UpdateBorderRadius" />
            <TableCustomizationPanel OnDenseSwitchToggled="ToggleEntityTableDense"
                OnStripedSwitchToggled="ToggleEntityTableStriped" OnBorderdedSwitchToggled="ToggleEntityTableBorder"
                OnHoverableSwitchToggled="ToggleEntityTableHoverable" />
        </MudExpansionPanels>
    </div>
</MudDrawer>
<MudOverlay DarkBackground="false" OnClick="@(() => ThemeDrawerOpenChanged.InvokeAsync(false))"
    Visible="ThemeDrawerOpen" VisibleChanged="ThemeDrawerOpenChanged" />